<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Razor {{subtitle}}</title>
    </head>

    <body>
        <h1>Razor URL Shortener</h1>
        {{{body}}}
    </body>

    <footer style="padding:2em">
        <a href='/'>Shorten a url!</a>
    </footer>
</html> 